html {
    margin: 0 auto;
}

* {
    font-size: 20px;
    
}

body {
    padding: 40px;
    margin: 0;
    background-image: url(./Images/galaxy.jpg);
    background-repeat: no-repeat;
    font-size: 3em;
    background-color: black;
}

h1,
h2,
h3,
h4,
h5 {

    font-family: "Orbitron", Arial, sans-serif;
    font-weight: 500;
    color: white;
    margin: 0 auto;
    padding: 20px;
    font-size: 1.8em;
    text-align: center;
}

a {
    font-family: "Play", Arial, sans-serif;
    text-decoration: none;
}

div {
    font-family: "Play", Arial, sans-serif;

}

p {
    font-family: "Play", Arial, sans-serif;
    color: white;
    padding: 20px;
    margin: 0 auto;
    font-size: 0.8em;
    text-align: center;
}

.dont-hug-me-im-scared {
    border: 2px solid rgb(222, 66, 26);
    border-radius: 20px;

}

@media screen and (min-width: 500px) {
    body {
        font-size: 2.5em;
    }
}

@media screen and (min-width: 750px) {
    body {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 850px) {
    body {
        font-size: 1em;
    }
}


/*Header Section*/

header#main {
    max-width: 100%;
    padding: 15px;
    margin: 0 auto;
    border: 2px solid rgb(222, 66, 26);
    background-color: black;
    border-radius: 20px;
    justify-content: center;
    background-image: url(./Images/8bit.jpg);
    background-color: rgb(30, 48, 62);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 120px;
    position: relative;
    overflow: hidden;
}

header#main::before {
    content: '';
    background-color: rgb(222, 66, 26);
    width: 102%;
    height: 100%;
    border-top: 2px solid rgb(0, 0, 0);
    position: absolute;
    top: 70px;
    left: -15px;
    transform: rotate(-2.6deg);
}

header#main a#logo {
    position: relative;
    background-image: url("Images/GameHub_Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    max-width: 220px;
    height: 80%;
    margin-top: 1em;
    display: block;
    color: transparent;
    left: 1em;
    z-index: 20;
}

/* navigation bar */

header#main nav {
    height: 38px;
    padding-top: 2px;
    margin-top: -38px;
    color: white;
    font-size: larger;
    padding-bottom: 6px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
}

header#main nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header#main nav ul li {
    list-style: none;
    padding-right: 15px;
}

header#main nav ul li a {
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1em;
    text-transform: uppercase;
}

/* navigation links */
/* navigation links */


#homebutton,
#gamesbutton,
#aboutbutton,
#contactbutton{
    display: none;
}

#dropdownicon {
    display: grid;
    height: 15px;
}


header#main nav #button >drop-down-menu{
display: grid;
background-image: url(/Images/dropdownicon.png);
background-size: contain;
background-repeat: no-repeat;
background-position: center;
padding: 0.8em 1em;
background-color: transparent;
border: 2px solid rgba(0,0,0,0.3);
border-radius: 3px;
outline: none;
}


@media (min-width: 769px) {
    #dropdownicon {
        display: none;
    }

    #homebutton,
    #gamesbutton,
    #aboutbutton,
    #contactbutton {
        display: block;
    }
}



/* welcome */
#welcome {
    display: block;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    background-image: url(Images/controller72dpi.jpg);
}


/* drifting images under header*/

#popular {
    background-image: url(Images/controller72dpi.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    overflow: hidden;
    display: grid;
    gap: 15px;
    padding: 15px;
    grid-template-columns: 100%;
    border: 2px solid rgb(222, 66, 26);
    border-radius: 20px;
    margin: 0 auto;
    max-width: 90%;
    color: white;
    background-color: rgba(222, 66, 26, 0.3);
}

#popular h3 {
    grid-column: 1;
    margin: 0 auto;
    padding-top: 20px;
    margin-bottom: 1em;
}

#popular article {
    padding: 10px;
    border-radius: 20px;
    padding: 0;
    border: 2px solid rgb(222, 66, 26);
    overflow: hidden;
}

#popular article a {
    position: relative;
    display: block;
    padding-top: 90%;
}

#popular article a img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 1s ease-out;
}

#popular article a:hover img {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    transition: all 1s ease-in;
}




@media screen and (max-width: 500px) {
    #popular {
        grid-template-columns: 1fr 1fr;
    }

    #popular h3 {
        grid-column: 1 / 3;
    }
}

@media screen and (min-width: 750px) {
    #popular {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #popular h3 {
        grid-column: 1 / 4;
    }
}

@media screen and (min-width: 850px) {
    #popular {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #popular h3 {
        grid-column: 1 / 5;
    }
}

@media screen and (min-width: 900px) {

}





/* main body */

.mainbodygamename {

    color: white;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: larger;

}

.right-arrow,
.left-arrow {
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}

.left-arrow {
    left: 30px;
    border-right: 35px solid rgb(222, 66, 26);
}

.right-arrow {
    right: 30px;
    border-left: 35px solid rgb(222, 66, 26);
}

.arrow-container {
    position: relative;
    margin: 30px;
}

.centergame {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    border: 2px solid rgb(222, 66, 26);
    border-radius: 20px;
    max-width: 80%;
}




/*browse our other games*/

#othergames {
    background-image: url(Images/laptop72dpi.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    overflow: hidden;
    display: grid;
    gap: 15px;
    padding: 15px;
    grid-template-columns: 100%;
    border: 2px solid rgb(222, 66, 26);
    border-radius: 20px;
    margin: 0 auto;
    max-width: 90%;
    color: white;
    background-color: rgba(222, 66, 26, 0.3);
}

.other-games-title {
    margin: 0 auto;
    grid-column: 1;
    padding-left: 20px;
    font-size: 1.2em;
    display: grid;

}


#othergames article {
    padding: 10px;
    border-radius: 20px;
    padding: 0;
    border: 2px solid rgb(222, 66, 26);
    overflow: hidden;
}

#othergames article a {
    position: relative;
    display: block;
    padding-top: 90%;
}

#othergames article a img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 1s ease-out;
}

#othergames article a:hover img {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    transition: all 1s ease-in;
}




@media screen and (max-width: 500px) {
    #othergames {
        grid-template-columns: 1fr 1fr;
    }

    .other-games-title {
        grid-column: 1 / 3;
    }
}

@media screen and (min-width: 750px) {
    #othergames {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .other-games-title {
        grid-column: 1 / 4;
    }
}

@media screen and (min-width: 850px) {
    #othergames {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .other-games-title {
        grid-column: 1 / 5;
    }
}







/* footer section */

#footer {
    background-color: rgb(222, 66, 26);
    height: 50px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-top: 40px;
}

#footer .baselogo {
    max-width: 60px;
    padding: 5px;
    margin-right: auto;
}

#footer >a{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    font-size: 1em;

}

.footer-envelope {
    max-height: 1.5em;
    margin: 0.5em;
}

.twitterlogo {

    max-height: 2em;
    margin: 0.2em;
    padding-right: 5px;
    grid-column: span 2;
    
}
.facebooklogo {

    max-height: 2em;
    margin: 0.2em;
    grid-column: span 2;
}

@media screen and (max-width: 500px) {
    #othergames {
        grid-template-columns: 1fr 1fr;
    }

    .other-games-title {
        grid-column: 1 / 3;
    }
}











/* Game Info styles */

.pertinent-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 70%;
    margin: 0 auto;

}

.pegi18 {
    color: white;
    background-color: rgb(222, 66, 26);
    padding: 10px;
    align-self: center;
    max-width: fit-content;  
}

.pricebox {
    color: white;
    background-color: rgb(222, 66, 26);
    padding: 10px;
    border-radius: 20px;
    align-self: center;
    grid-column: 5/6;
   
}

.singleplayer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    color: white;
    background-color: rgb(222, 66, 26);
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    grid-column: 6/7;
    
}

.singleplayericon {
    max-width: 20px;
}

.purchasegamebutton, .email-us-button, .email-success {
    display: block;
    color: white;
    background-color: rgb(222, 66, 26);
    padding: 5px 15px;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
    max-width: 20%;

}
  








/* About Us Styles*/

.about-us-wrapper, .game-info-background {
    border: 2px solid rgb(222, 66, 26);
    border-radius: 20px;
    background-image: url(/Images/controllerimage.jpg);
    background-position: center;
    height: 100%;   
}

.about-us-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100px;
    max-width: 100%;
    grid-gap: 10px;
  }

.our-consoles-centre{
    grid-column: 1/3;
    grid-row: 1;
}

.our-consoles-centre,.our-consoles-play, .our-consoles-phones {
    margin: 0 auto;
    border: 2px solid rgb(222, 66, 26);
    border-radius: 20px;
    max-width: 80%;
    height: auto;
}

@media screen and (min-width: 480px) {

    .about-us-images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 100%;
        grid-gap: 3px;
        
      }

      .our-consoles-play {
        grid-column: 1 / 2;
      }

      .our-consoles-centre {
        grid-column: 2/3;
        
      }

      .our-consoles-phones {
        grid-column: 3/4;
      } 
}

@media screen and (min-width: 750px) {

    .about-us-images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        max-width: 100%;
        grid-gap: 3px;
        
      }

      .our-consoles-play {
        grid-column: 1 / 3;
      }

      .our-consoles-centre {
        grid-column: 3/6;
        
      }

      .our-consoles-phones {
        grid-column: 6/8;
      } 
}






/*Email Us Page*/

form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  legend {
    color: white;
    border: 1px solid rgb(222, 66, 26);
  }
  
  h2 {
    margin-bottom: 10px;
    color: white;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
    padding: 10px;
  }
  
  input[type="email"],
  input[type="text"],
  textarea {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(222, 66, 26);
    font-family: "Play", Arial, sans-serif;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgb(222, 66, 26);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 5px;
    vertical-align: middle;
  }
  
  .checkbox-label {
    display: inline-block;
    vertical-align: middle;
  }
  
  #popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(222, 66, 26);
    padding: 20px;
    border: 2px solid rgb(222, 66, 26);
    z-index: 20;
  }
  
  #subscribe:checked ~ #popup {
    display: block;
    background-color: rgb(222, 66, 26);
    border-radius: 20px;
  }









  /*Email Success page*/

  .page-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); 
    z-index: 9999;
  }

  .email-success-section {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(222, 66, 26);
    padding: 20px;
    border-radius: 10px;
    color: rgb(222, 66, 26);
    text-align: center;
    z-index: 10000;
    display: block;
    
  }

  .email-success-text {
    text-decoration: none;
    color: white;
    padding: 30px;

  }

  .email-success-text >a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
  }
