html {
    margin: 0 auto;
}

body {
    padding: 40px;
    margin: 0;
    background-image: url(./Images/galaxy.jpg);
    background-repeat: no-repeat;
    font-size: 3em;
}

h1,
h2,
h3,
h4,
h5 {

    font-family: "Orbitron", Arial, sans-serif;
    font-weight: 500;
}

a {
    font-family: "Play", Arial, sans-serif;
    text-decoration: none;
}

p {
    font-family: "Play", Arial, sans-serif;
    color: white;
    padding: 20px;
}

@media screen and (min-width: 500px) {
    body {
        font-size: 2em;
    }
}

@media screen and (min-width: 750px) {
    body {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 850px) {
    body {
        font-size: 1em;
    }
}


/*Header Section*/

header#main {
    max-width: 90%;
    padding: 15px;
    margin: 0 auto;
    border: 2px solid rgb(222, 66, 26);
    background-color: black;
    border-radius: 20px;
    justify-content: center;
    background-image: url(./Images/8bit.jpg);
    background-color: rgb(30, 48, 62);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 120px;
    position: relative;
    overflow: hidden;
}

header#main::before {
    content: '';
    background-color: rgb(222, 66, 26);
    width: 102%;
    height: 100%;
    border-top: 2px solid rgb(0, 0, 0);
    position: absolute;
    top: 70px;
    left: -15px;
    transform: rotate(-2.6deg);
}

header#main a#logo {
    position: relative;
    background-image: url("Images/GameHub_Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-width: 220px;
    height: 80%;
    margin-top: 1em;
    display: block;
    color: transparent;
    left: 1em;
    z-index: 20;
}

/* navigation bar */

header#main nav {
    height: 38px;
    padding-top: 2px;
    margin-top: -38px;
    color: white;
    font-size: larger;
    padding-bottom: 6px;
}

header#main nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header#main nav ul li {
    list-style: none;
    padding-right: 15px;
}

header#main nav ul li a {
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1em;
    text-transform: uppercase;
}


/*
(for some reason, writing them like this disables all of the links but the last?)
.arrow-container, #gamesbutton, #aboutbutton, #contactbutton:hover {
    border: 1px solid white;
    background-color: transparent;
    border-radius: 2px;
}*/


#homebutton:hover {
    border: 1px solid white;
    background-color: transparent;
    border-radius: 2px;
}

#gamesbutton:hover {
    border: 1px solid white;
    background-color: transparent;
    border-radius: 2px;
}

#aboutbutton:hover {
    border: 1px solid white;
    background-color: transparent;
    border-radius: 2px;
}

#contactbutton:hover {
    border: 1px solid white;
    background-color: transparent;
    border-radius: 2px;
}

#dropdown {
    display: none;
}

@media screen and (max-width: 500px) {

    #homebutton {
        display: none;
    }

    #gamesbutton {
        display: none;
    }

    #aboutbutton {
        display: none;
    }

    #contactbutton {
        display: none;
    }

    #dropdown {
        width: 30px;

    }
}



/* Dropdown menu*/

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 3;
}

.dropdown-hover {
    display: inline-block;
    padding: 10px;
    background: rgb(30, 48, 62);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}

.dropdown-hover:hover {
    background: #1b203d;
}

.dropdown-menu {
    position: absolute;
    min-width: 200px;
    background: white;
    color: #1b203d;

}

.dropdown-hover .dropdown-menu {
    display: block;

}

/* welcome */
#welcome {
    display: block;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}


/* drifting images under header*/

#popular {
    background-image: url(Images/controller72dpi.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    overflow: hidden;
    display: grid;
    gap: 15px;
    padding: 15px;
    grid-template-columns: 100%;
    border: 2px solid rgb(222, 66, 26);
    border-radius: 20px;
    margin: 0 auto;
    max-width: 90%;
    color: white;
    background-color: rgba(222, 66, 26, 0.3);
}

#popular h3 {
    grid-column: 1;
    margin: 0 auto;
    padding-top: 20px;
    margin-bottom: 1em;
}

#popular article {
    padding: 10px;
    border-radius: 20px;
    padding: 0;
    border: 2px solid rgb(222, 66, 26);
    overflow: hidden;
}

#popular article a img {
    display: block;
    width: 100%;
}

#popular article a {
    display: block;
    width: 100%;
}

@media screen and (max-width: 500px) {
    #popular {
        grid-template-columns: 1fr 1fr;
    }

    #popular h3 {
        grid-column: 1 / 3;
    }
}

@media screen and (min-width: 750px) {
    #popular {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #popular h3 {
        grid-column: 1 / 4;
    }
}

@media screen and (min-width: 850px) {
    #popular {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #popular h3 {
        grid-column: 1 / 5;
    }
}

@media screen and (min-width: 900px) {

}





/* main body */
.mainbodygamename {

    color: white;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: larger;

}

.right-arrow,
.left-arrow {
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}

.left-arrow {
    left: 30px;
    border-right: 35px solid rgb(222, 66, 26);
}

.right-arrow {
    right: 30px;
    border-left: 35px solid rgb(222, 66, 26);
}

.arrow-container {
    position: relative;
    margin-top: 20px;
}

.centergame {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    border: 2px solid rgb(222, 66, 26);
    border-radius: 20px;
    max-width: 80%;
}




.best-seller-box {
    border: 2px solid rgb(222, 66, 26);
    border-radius: 20px;
    margin: 0 auto;
    color: white;
    background-color: rgba(222, 66, 26, 0.3);
    margin: 20px;
    padding: 15px;
}

@media screen and (max-width: 600px) {

    .best-seller-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
    }

}

/* footer section */

#footer {
    background-color: rgb(222, 66, 26);
    height: 50px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-top: 40px;
}

#footer .baselogo {
    max-width: 60px;
    padding: 10px;
    margin-right: auto;
}

#footer .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 15px;
}

.footer-envelope {
    max-height: 30px;
}

.facebooklogo,
.twitterlogo {
    max-height: 35px;
}

/* Media query for smaller screens */
@media screen and (max-width: 720px) {
    #footer .baselogo {
        max-width: 50px;
    }

    #footer .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        font-size: 12px;
    }

    .footer-envelope {
        max-height: 25px;
    }

    .footer-links p {
        font-size: 10;

    }

    .facebooklogo,
    .twitterlogo {
        max-height: 20px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {
    #footer .baselogo {
        max-width: 40px;
    }

    #footer .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        font-size: 8px;
    }

    .footer-envelope {
        max-height: 15px;
    }

    .footer-links p {
        font-size: 8px;

    }

    .facebooklogo,
    .twitterlogo {
        max-height: 20px;
        flex-wrap: wrap;
    }
}



@media screen and (min-width: 500px) {
    #footer .baselogo {
        max-width: 20px;
    }

    #footer .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        font-size: 8px;
    }

    .footer-envelope {
        max-height: 10px;
    }

    .footer-links p {
        font-size: 8px;

    }

    .facebooklogo,
    .twitterlogo {
        max-height: 20px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 470px) {

    #footer {
        background-color: rgb(222, 66, 26);
        height: 50px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        margin-top: 40px;
    }

    #footer .baselogo {
        max-width: 60px;
        margin: 0 auto;
    }

    #footer .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        font-size: 6px;
        flex-wrap: wrap;
    }

    .footer-envelope {
        display: none;
    }

    .footer-links p {
        display: none;

    }

    .facebooklogo,
    .twitterlogo {
        display: none;

    }
}










/* Game Info Page */
/* Game Info Page */
/* Game Info Page */

.pegi-agerating-infopage {
    max-width: 40px;
}

.pricebox {

    color: white;
    background-color: rgb(222, 66, 26);
    padding: 10px;
}

.singleplayer {
    color: white;
    background-color: rgb(222, 66, 26);
    padding: 10px;
    margin: 5px;

}

.singleplayericon {
    max-width: 20px;

}

.pertinent-info {
    display: flex;
    justify-content: center;
    align-content: center;
}

.purchasegamebutton {
    display: flex;
    color: white;
    background-color: rgb(222, 66, 26);
    padding: 10px;
    border-radius: 20px;
    justify-content: center;
    align-content: center;

}
  
