body { 
    margin: 0 auto;
    background-color: black;

}


h1 h2 h3 h4 h5 p{
    font-family: 'Rajdhani', sans-serif;


}

p {
    font-family: 'Rajdhani', sans-serif;
}

header {
    margin: 0 auto;
    border: #BF3612;
    border-width: 2px;
    background-color: #BF3612;
    background-image: url("/Images/8bit.jpg");
    height: 200px;
    max-width: 80%;
    border-radius: 20%, 20%, 0%, 0%;
}

.logo {
    z-index: 10;
    max-width: 20%;
}

.headerseparator {

    position: relative;
    width: 0%;
    height: 0;
    border-left: 100vw solid transparent;
    border-bottom: 13.9vw solid #BF3612;
    margin-top: -13.9vw;
}

.navbar {

    background-color: #BF3612;
    border-left: 100vw solid transparent;
    border-bottom: 13.9vw solid #BF3612;
    margin-top: -13.9vw;

}